* {padding: 0;
	margin: 0;
    box-sizing: border-box !important;
   
}
@font-face {
  font-family: "Glitz";
  src: url(../glitz-font-2/glitz.otf) format("opentype");
}
body{
font-family: "Glitz", sans-serif;
background-color: #fff;
/* background-image: linear-gradient(180deg, #FFF0E5 0%, #FFF0E5 40%);    */
}

.header{
  position:fixed;
  background-color: #fff;
  width:100%;
  z-index: 1000 !important;
  padding: 0;
  margin: 0;
}
#closeable-section {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #602118;
  padding: 12px 10px 1px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  color: #fff;
}
.close-button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5%;
}
.enrol{
  background-color: #FEE771;
  color:#602118;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  border:none ;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
p, ul li{
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
}
h1{
  color: #FEE771;
}
.banner{
  background-image: url('../img/banner.webp');
  background-size: cover;
  background-position: center;
  padding: 200px 0 0px 0px;
}
.form{
  background-color: #FEE771;
  padding: 40px;
}
.btn-submit{
  background-color: #602118;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.form-control, .form-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}
::placeholder{
  color: #000 !important;
}
.partner-img {
    width: 60% !important;
    margin: auto;
  }
  .col-texts li::marker{
    color: #FEE771;
    
  }
  .col-texts li{
padding-top: 10px;
color: #fff;
  }
.mb{
  margin-bottom: 50px;
}
label{
  font-size: 12px !important;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
h2{
  text-align: center;
  color: #252525;
  margin-bottom: 20px;
}
.faq{
  background-color: #602118;
  padding: 40px 0px;
}
h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.accordion-item{
  margin-bottom: 20px;
}
.accordion{
    --bs-accordion-btn-focus-box-shadow: none !important;
    
}
.c-bx{
  width: 60%;
}
.d-t{
  width: 60%;
  margin-top: 30px;
}
.bg-box{
  background-color: #F7F7F7;
  border-radius: 20px;
  padding: 20px;
  height: 380px;
}
.bg-boxs{
  background-color: #FFF9F9;
  padding: 80px 40px;
  width: 500px;
}
h5{
 font-family: "Montserrat", sans-serif;
 font-size: 18px;
}
 .owl-dots {
        position: absolute;
        bottom: -13%;
        left: 50%;
    transform: translate(-50%, -50%);
    }
.accordion-button{
  font-family: "Montserrat", sans-serif;
}
.course-box{
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 40px 30px;
}
.btn-Tuition{
  background-color: #FEBF01;
  color:#000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cat{
  position: absolute;
  bottom: -9%;
  right: 20%;
 width: 350px;
 
}
.course{
  position: relative;
}
.btn-duration{
  background-color: #000;
  color:#fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-right: 20px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 2px;
    margin: 7px 4px;
    background-color: #D9D9D9;
    display: block;
    -webkit-backface-visibility: visible;
    border-radius: 30px;
    text-align: center;
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
    background: #602118;
    width: 20px;
    height: 2px
}
.university{
  background-image: url(../img/sri.png);
  background-repeat: no-repeat;
 background-size: cover;
  background-position: left;
  padding: 200px 0 0px 0px;
}
.adms {
    background-image: url(../img/adms.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0px;
    height: 500px;
    background-position-y: top;
}
.adm-bx{
  text-align: left;
  width: 500px;
  max-width: 100%;
  float: right;
}
.placemnet{
  background-color: #EFEFEF;
  padding: 50px 0px;
}
.how-bx{
  background: linear-gradient(to bottom, rgba(255,255,255,0.95) 0%, rgba(255,251,245,0.95) 100%);
backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 20px;
  
}
.tect-t{
  padding: 20px;
}
.tect{
  margin-bottom: 20px;
}
.how img{
  width: 100%;
}
.how-img{
  position: relative;
 bottom: -59px;
}
.tct{
  padding: 40px 40px 40px 0px;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  
}
@media (min-width: 1400px) and (max-width: 1600px) {
  
}
@media (min-width: 1600px) and (max-width: 1800px) {
  
}

@media screen and (max-width: 767px) {
    .owl-dots {
        position: absolute;
        bottom: -3%;
    }
}
